/* Visual Edit Mode Overrides - Last updated: 2026-09-10T03:49:16.977Z */


[data-editor-id="act2-art-gums"] {
  position: static !important;
  left: auto !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
}

[data-editor-id="act2-screen-container"] {
  position: relative !important;
  right: auto !important;
  bottom: auto !important;
}

[data-editor-id="act2-check-tech-line"] {
  position: static !important;
  right: auto !important;
  bottom: auto !important;
}

[data-editor-id="act2-btn-check-close"] {
  position: static !important;
  right: auto !important;
  bottom: auto !important;
}

[data-editor-id="act2-art-name"] {
  position: static !important;
  right: auto !important;
  bottom: auto !important;
}

[data-editor-id="act2-art-ears"] {
  position: static !important;
  right: auto !important;
  bottom: auto !important;
}
