/* Visual Edit Mode Overrides - Last updated: 2026-08-31T03:59:57.293Z */


[data-editor-id="act1-hub-speech"] {
  left: 45% !important;
  top: 24% !important;
  right: auto !important;
  bottom: auto !important;
  --stem-right: 28px !important;
  --stem-left: calc(50% - 10px) !important;
}
