/* Visual Edit Mode Overrides - Last updated: 2026-08-30T01:02:14.025Z */


[data-editor-id="act0-bubble-step13"] {
  top: 24% !important;
  left: 48% !important;
  max-width: min(300px, 23vw) !important;
}
